/* BASIC LAYOUT */
header{
	float:left;
	margin-top: 50px;
	background-color:transparent;
	width:200px;
	height: 13700px;
}
body{
	background-image:url(background-image: url('bg.png');
	background-repeat:repeat;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-transform: capitalize;
	margin-top: 50px;
}